.card {
  margin: 1rem;
  background-color: white !important;
}

.ripple {
  background-color: #cdc4ba !important;
  box-shadow: 0 4px 9px -4px #cdc4ba !important;
}

@media screen and (min-width: 375px) {
  .card-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .card {
    margin: 1rem;
    width: 288px;
    background-color: white !important;
  }
}

@media screen and (min-width: 425px) {
  .card-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .card {
    margin: 1rem;
    width: 288px;
    background-color: white !important;
  }
}

@media screen and (min-width: 728px) {
  .card-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
  }
  .card {
    margin: 1rem;
    width: 288px;
    background-color: white !important;
  }
}
