@font-face {
  font-family: policeTitle;
  src: url("src/assets/CamptonSemiBold.otf");
}
.card {
  margin: 1rem;
  background-color: white !important;
}
.styleCard {
  box-shadow: 5px 5px 5px black(255, 255, 255, 1);
}

.colorButton {
  display: flex;
  flex-direction: column;
  background-color: #3d3d3d;
}

.styleText {
  text-align: center;
  font-family: policeTitle;
  margin: 10px;
}

@media screen and (min-width: 1024px) {
  .cardAlign {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }
}
