.logo-loreal {
  width: 8rem;
}

.navbar {
  background-color: #3d3d3d !important;
}

.container-fluid {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  margin: 0 !important;
}
