.welcome-container {
  background-color: #cdc4ba;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
}

.hello-title {
  font-size: 22px;
}

.welcome-paragraph {
  margin: 0;
}

.pres-sentence {
  text-align: center;
  margin: 1rem 0rem;
}
